@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.card {
    margin: 50px;
    padding-top: 50px;
}

div.card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 800px;
    min-width: 800px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
}

/* div.card-container section {
    flex: 1;
    min-width: 400;
} */

/* Result Section  */

section.result-container {
    position: relative;
    height: 500px;
    width: 400px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    text-align: center;
}

.center {
    color: #fff;
}

h3.title {
    padding-top: 20px;
    font-size: 2em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.7);
}

div.result {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 50px 65px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #00000046, rgba(0, 0, 0, 0));
}

div.result > h4 {
    font-size: 5em;
}

div.result > p {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.4)}

div.message-type > p {
    margin-bottom: 5%;
    font-size: 1.5em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.9);
}


div.message > p {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    width: 80%;
}

/* Summary Section */

section.summary-container {
    position: relative;
    height: 500px;
    width: 400px;
    /* padding-left: 20px; */
    /* margin-right: 20px; */
    background: #fff;
    border-radius: 25px;
    text-align: center;
}

div.summary {
    position: absolute;
    top: 0;
    width: 100%;
}

div.summary > h3 {
    text-align: left;
    padding-top: 20px;
    font-size: 2em;
    font-weight: 800;
    color: rgb(10, 6, 21);
    margin-bottom: 13%;
    margin-left: 15%;
}

div.categories {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

div.row {
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 5px;
}

div.reaction-container {
    background-color: rgba(255, 198, 198, 0.25);
}

div.reaction-container span, 
div.reaction-container i {
    color: rgb(222, 80, 80);
}

div.memory-container {
    background-color: rgba(245, 243, 190, 0.275);
}

div.memory-container span, 
div.memory-container i {
    color: rgb(157, 122, 35);
}

div.verbal-container {
    background-color: rgba(163, 253, 166, 0.275);
}

div.verbal-container span, 
div.verbal-container i {
    color: rgb(35, 196, 86); 
}

div.visual-container {
    background-color: rgba(172, 198, 253, 0.275);
}

div.visual-container span, 
div.visual-container i {
    color: rgb(35, 91, 196); 
}

button.continue {
    padding: 15px 60px;
    width: 70%;
    border-radius: 25px;
    background: rgb(10, 6, 21);
    border: none;
    margin-top: 13%;
    color: #fff;
}

button.continue:hover {
    background: #fff;
    border: 1px solid black;
    cursor: pointer;
    color: #000;
}

@media (max-width: 800px) {
    div.card-container section {
        width: 100%;
        /* margin: 0 50px; */
        display: block;
    }

    div.result {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    div.summary > h3 {
        margin-bottom: 7%;
    }

    div.row {
        margin-bottom: 3%;
    }

    div.continue-button {
        margin-top: 5%;
    }


}











